body {
    background: #0d1117;
    color: white;
    font-family: Arial;
}

/*NAVBAR*/
.navbar{
    background: black;
}

/*HERO*/
.hero{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(img/);
    background-size: cover;
    background-position: center;

}

.foto{
    width: 220px;
    border-radius: 50%;
    border: 5px solid #00ff88;
    box-shadow: 0 0 30px #00ff88;
}
/*titulo*/
.titulo{
    color:#00ff88;
    margin-bottom:30px;
}

/*cards*/
.cards-skill{
    background: #161b22;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    transition: 0.5s;
    margin-bottom: 20px;
}

.cards-skill:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 20px #00ff88;
}

.cards-skill i{
    font-size: 50px;
    color: #00ff88;
    margin-bottom: 15px;
}

/*certificados*/
.card-certificado{
    background: #161b22;
    padding: 30px;
    border-radius: 15px;
   
}

/*footer*/
footer{
    background: black;
    padding: 30px;
    text-align: center;
    

}

.redes-sociales a{
    color: #00ff88;
    margin:     10px;
    font-size: 30px;
    transition: 0.3s;
}